<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingcity.main.mapper.CustomerMapper">
        <!--<select id="addressCharts" resultType="java.util.ArrayList">
                SELECT address, COUNT(1) as number from customer GROUP BY address
        </select>-->
        <select id="test" resultType="cn.kingcity.main.entity.Customer">
            select * from customer;
        </select>

        <select id="test2" parameterType="map" resultType="map">
            SELECT c.id,c.`name`,o.order_address,o.deposit,o.remarks
            FROM customer c LEFT JOIN order_table o
            on c.id=o.customer_id
            where c.id=#{p_cid}
        </select>

</mapper>
